<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-danger">Confirm Delete</h1>
    <p>Are you sure you want to delete this activity?</p>
   <form th:action="@{/delete}" th:object="${activity}"method="POST">
        <input type="hidden" name="id" th:value="${activityId}" />
        
        <button type="submit" name="confirm" value="yes" class="btn btn-danger">Yes</button>
        <a href="/activity" class="btn btn-secondary">No</a>
    </form>
</div>
</body>
</html>
